<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/image.min.css">
    <title>Image Processing</title>
    <link rel="stylesheet" href="/static/css/jquery.Jcrop.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.Jcrop.js"></script>


  </head>
  <body>

    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-bg">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='img/smartail.png') }}" height="30" alt="smartail">
        </a>
        <div class="h6 ml-auto" style="margin-right: 3rem">{{username}}</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>

      <div class="row mt-3 mb-3">
        <div class="col-md-12">
          <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
          </div>
        </div>
<!--         <div class="col-md-3">
          <div class="h6" style="float: right;">{{i+1}} / {{n}}</div>
        </div> -->
      </div>

<!-- <div id="myDiv"></div> -->

      <div class="row">
        <div class="col-md-2 pad-3 folder">
          <div>
            <img src="/static/img/folder.jpg" height="17" width="20">&nbsp;&nbsp; {{ directory[0].dir_name.split('/')[-1]}}
            <div class="files">
              {% for file in all_files %}
              <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I___
                <button class="file-buttons" id="{{file}}" onclick="document.getElementById('image').src='/static/s3_downloads/{{file}}'">{{ file }}</button>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-10 pad-3 border">
            <div class="image-section">
              <img src="/static/s3_downloads/{{ image }}" alt="" id="image">
              <div id="child1"></div>
              <div id="child2"></div>
              <div id="child3"></div>
              <div id="child4"></div>
              <div id="child5"></div>
              <div id="child6"></div>
              <div id="child7"></div>
              <div id="child8"></div>
              <div id="child9"></div>
              <div id="child10"></div>
              <div id="child11"></div>
              <div id="child12"></div>
              <div id="child13"></div>
              <div id="child14"></div>
              <div id="child15"></div>
              <div id="child16"></div>
              <div id="child17"></div>
              <div id="child18"></div>
              <div id="child19"></div>
              <div id="child20"></div>
            </div>
        </div>
      </div>

      <div class="process-buttons">
        <div class="row">
          <form class="offset-md-2 col-md-2" action="/prev" method="post">
              <button class="btn btn-lg buttons" type="button" onclick="window.location.href='{{ url_for( 'previous') }}';">Previous</button>
          </form>              
          <form class="col-md-2" action="/leftRotate" method="post">
              <button class="btn btn-lg buttons" type="button" onclick="window.location.href='{{ url_for( 'left_rotate') }}';">&#8630;</button>
          </form>
          <form class="col-md-2" action="/crop" method="post">
              <button class="btn btn-lg buttons" type="button" onclick="crop()">Crop</button>
          </form>              
          <form class="col-md-2" action="/rightRotate" method="post">
              <button class="btn btn-lg buttons" type="button" onclick="window.location.href='{{ url_for( 'right_rotate') }}';">&#8631;</button>
          </form>              
          <form class="col-md-2" action="/next" method="post">
              <button class="btn btn-lg buttons" type="button" onclick="window.location.href='{{ url_for( 'next') }}';">Next</button>
          </form>
        </div>
      </div>
    </div>



    <script>
        var datas = "";
        var i;
        
        var dataArray = [];
        function addRectangle(x, y, w, h, rect) {
            // console.log(x, y, w, h);
            x = x + 16;
            y = y + 16;
            var rectangle = ""
            rectangle = rectangle.concat("child", rect.toString());
            // console.log(rectangle);
            document.getElementById(rectangle).style.left = x.toString() + "px";
            document.getElementById(rectangle).style.top = y.toString() + "px";
            document.getElementById(rectangle).style.width = w.toString() + "px";
            document.getElementById(rectangle).style.height = h.toString() + "px";
            document.getElementById(rectangle).style.zIndex = "5";
            document.getElementById(rectangle).style.border = "#0000ff";
            document.getElementById(rectangle).style.backgroundColor = "#0000ff77";
            
            // console.log("Done")
        }

        $(document).ready(function(){
            $('#image').Jcrop({
                onSelect: function(crop){
                  c = "";
                  c = c.concat(crop.x.toString(), "-", crop.y.toString(), "-", crop.w.toString(), "-", crop.h.toString())
                  datas = datas.concat(c, "+");
                  // console.log(datas);
                  dataArray.push(crop);

                  drawRectangles();
                }
            });
        });

        function drawRectangles() {
          var i;
          // console.log(dataArray.length);

          for ( i=0; i < dataArray.length; i++ ) {   
            // console.log(dataArr)
              addRectangle(dataArray[i].x, dataArray[i].y, dataArray[i].w, dataArray[i].h, i+1);
          }
        }

        document.getElementById("{{image}}").style.backgroundColor="#dddddd"

        function crop() {
          var url;
          // console.log(datas);
          url = "/crop/".concat(datas)
          window.location.href=url;
        }

    </script>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="/static/js/jquery-3.5.1.slim.min.js"></script> -->
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

  </body>
</html>